@{
    ViewBag.Title = "Donate";
}
@using Charity.Mvc.Controllers
@model Charity.Mvc.Models.ViewModels.DonationViewModel

<header class="header--form-page">
    @Html.PartialAsync("_MenuBar").Result

    @Html.PartialAsync("_SloganDonation.cshtml").Result
</header>

<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3>Ważne!</h3>
            <p data-step="1" class="active">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3">
                Wybierz jedną, do
                której trafi Twoja przesyłka.
            </p>
            <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/4</div>

        <form asp-action=@nameof(Donating.Donate) method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3>Zaznacz co chcesz oddać:</h3>

                <div class="text-danger">
                    @{
                        var modelStatesWithErrors = ViewData.ModelState.Where(n => n.Value.Errors.Count() > 0).ToList();
                        if (modelStatesWithErrors != null)
                        {
                            foreach (var modelStateErrorList in modelStatesWithErrors)
                            {
                                var error = modelStateErrorList.Value.Errors.ToList();
                                foreach (var item in error)
                                {
                                    <h5>@item.ErrorMessage</h5>
                                }
                            }
                        }
                    }
                </div>

                @{for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        <div class="form-group form-group--checkbox">
                            <label>
                                <input asp-for=Categories[i].Name type="hidden" value=@Model.Categories[i].Name />
                                <input asp-for=Categories[i].Id type="hidden" value=@Model.Categories[i].Id />
                                <input asp-for=Categories[i].IsChecked type="checkbox" />
                                <span class="checkbox"></span>
                                <span class="description">@Model.Categories[i].Name</span>
                            </label>
                        </div>
                    }
                }

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
                <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                <div class="form-group form-group--inline">
                    <label>
                        Liczba 60l worków:
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 4 -->
            <div data-step="3">
                <h3>Wybierz organizację, której chcesz pomóc:</h3>

                @{if (Model.Institutions != null)
                    {
                        for (var i = 0; i < Model.Institutions.Count; i++)
                        {
                            <div class="form-group form-group--checkbox">
                                <label>
                                    <input asp-for="Institutions[i].Name" type="hidden" value="@Model.Institutions[i].Name" />
                                    <input asp-for="Institutions[i].Description" type="hidden" value="@Model.Institutions[i].Description" />
                                    <input asp-for="Institutions[i].Id" type="hidden" value="@Model.Institutions[i].Id" />
                                    @Html.RadioButtonFor(m => m.InstitutionId, Model.Institutions[i].Id)
                                    <span class="checkbox radio"></span>
                                    <div class="description">
                                        <div class="title">@Model.Institutions[i].Name</div>
                                        <div class="subtitle">@Model.Institutions[i].Description</div>
                                    </div>
                                </label>
                            </div>
                        }
                    }
                    else
                    {
                        <h2>Nie znaleziono zarejestrowanych instytucji</h2>
                    }
                }

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 5 -->
            <div data-step="4">
                <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4>Adres odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label>Ulica<input asp-for="Street" type="text" /></label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>Miasto<input asp-for="City" type="text" /></label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Kod pocztowy <input asp-for="ZipCode " type="text" />
                            </label>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                            
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Numer telefonu <input asp-for="PhoneNumber" type="tel" />
                            </label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            
                        </div>
                    </div>

                    <div class="form-section--column">
                        <h4>Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> Data <input asp-for="PickUpDateOn" type="date" /> </label>
                            <span asp-validation-for="PickUpDateOn" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> Godzina <input asp-for="PickUpTimeOn" type="time" /> </label>
                            <span asp-validation-for="PickUpTimeOn" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Uwagi dla kuriera
                                <textarea asp-for="PickUpComment" rows="5"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="submit" class="btn" value="Create">Przejdź do podsumowania</button>
                    @*<button type="button" class="btn next-step">Dalej</button>*@
                </div>
            </div>

            <!-- STEP 6 -->
            @*<div data-step="5">
                <h3>Podsumowanie Twojej darowizny</h3>

                <div class="summary">
                    <div class="form-section">
                        <h4>Oddajesz:</h4>
                        <ul>
                            <li>
                                <span class="icon icon-bag"></span>
                                <span class="summary--text">
                                    @foreach (var item in Model.Categories)
                                    {
                                        if (item.IsChecked)
                                        {
                                            @item.Name;
                                        }
                                    }
                                </span>
                            </li>

                            <li>
                                <span class="icon icon-hand"></span>
                                <span class="summary--text">Dla fundacji @Model.InstitutionId</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="submit" class="btn" value="Create">Potwierdzam</button>
                </div>
            </div>*@
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_BootstrapScriptsPartial");}
}
