@using Charity.Mvc.Controllers
@model Charity.Mvc.Models.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Zmiana hasła";
    Layout = "_Layout";
}

<header>
    @Html.PartialAsync("_MenuBar").Result
</header>

<section class="login-page">
    <h2>Zdefiniuj hasło</h2>
    <form asp-action="@nameof(Account.ResetPassword)" method="post">
        <div class="text-danger">
            @{
                var errors = ViewData.ModelState.Where(n => n.Value.Errors.Any()).ToList();
                errors.ForEach(e => e.Value.Errors.ToList().ForEach(i=>i.ErrorMessage.ToString()));
            }
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <p style="font-size: 1.6em">@Html.DisplayTextFor(u => u.Email)</p>
            <input asp-for="Email" type="hidden" value="@Model.Email" />
            <input asp-for="Token" type="hidden" value="@Model.Token" />
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="RepeatPassword" type="password" />
            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
        </div>

        <div class="form-group form-group--buttons">
            <a asp-action="@nameof(Account.Login)" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Resetuj hasło</button>
        </div>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync(partialViewName: "_BootstrapScriptsPartial");}
}